
/*# Currency Facts-additional  */
.bg-fact
 {
    background: -webkit-gradient(linear, left top, right top, from(#512DA8), to(#711e72));
    background: linear-gradient(to right, #512DA8, #711e72);
    padding-top: 65px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.title-curr {
    background-color: black;
}

.post__body__block.block--table .border-wrapper {
    border: 1px solid #ced1d5;
    border-radius: 15px;
    display: block;
    padding: 30px;
}

    .navbar-custom1 {
        margin-top: 0px;
        padding: 10px 0px !important;
        background: linear-gradient(to right, #512DA8, #711e72);
        -webkit-box-shadow: 0 10px 33px rgba(15, 31, 62, 0.1);
        box-shadow: 0 10px 33px rgba(15, 31, 62, 0.1);
        color: #0f1f3e !important;
    }

    a.nav-link {
      color: #ffffff;
}

.post__body__block.block--table table tbody tr td, .post__body__block.block--table table tbody tr th {
    padding: 10px 1em 10px 0;
}

.post__body__block.block--table table tbody tr:not(:last-child) {
    border-bottom: 2px solid #eee;
}